h1 {
  background-color: rgb(255, 255, 255);
  opacity: .8;
  text-align: center;
  padding: 20px;
  margin: 20px;
  border-radius: 40px;
  color: silver;
}
p {
  color: blue
  padding:70px;
  margin:50px;
  background-color: red;
  border-radius: 120px;
  padding: 20px;
  opacity: 8;
}
body {
  color: #ffcccc;
  background-image: url("https://ak6.picdn.net/shutterstock/videos/6809056/thumb/1.jpg")
}
h2{
  text-align: center;
  padding: 15px;
  background-color: black;
  color: #D2691E;
  margin: 102px;
  border-radius: 50px;
  opacity: .6;
}
