#results {
 display: none;
}
html{
 margin: 0px;
 padding: 0px;
}
body{
 margin: 0px;
 padding: 0px;
 font-size: 30px;
 background-image;/home/chris/Desktop/triangle-tracker/images/chriss.jpg
}

form {
 font-size: 20px;
}
.btn {
 margin-top: 15px;
 margin-right: 6px;
}
